<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body class="bg-light">
    <div class="container my-5 w-75">
      <div th:if="${param.success}" class="alert alert-success">
        Registration Successful!
      </div>
      <div class="mb-3">
        <a onclick="return confirm('Log out dari akun?') ? true : false" class="btn btn-outline-secondary" href="/logout">Logout</a>
      </div>
      <div class="bg-body rounded my-3 p-3 shadow-sm">
        <h2 class="text-center mb-4">Logged in as Mahasiswa</h2>
        <table class="table">
          <tr>
            <th style="width: 20%">Nama Lengkap:</th>
            <td th:text="${user.fullName}"></td>
          </tr>
          <tr>
            <th style="width: 20%">Email:</th>
            <td th:text="${user.email}"></td>
          </tr>
          <tr>
            <th style="width: 20%">Username:</th>
            <td th:text="${user.username}"></td>
          </tr>
          <tr>
            <th style="width: 20%">NIM:</th>
            <td th:text="${user.nim}"></td>
          </tr>
          <tr>
            <th style="width: 20%">Kelas:</th>
            <td th:text="${user.kelas}"></td>
          </tr>
          <tr>
            <th style="width: 20%">Transkrip:</th>
            <td>
              <a class="btn btn-outline-primary btn-sm" href="/transkrip">Lihat Transkrip</a>
            </td>
          </tr>
        </table>
        <h4 class="text-center my-4">Rencana Studi:</h4>
        <table class="table">
          <tr>
            <th style="width: 20%">Semester:</th>
            <td th:text="${user.rencanaStudi.semester}"></td>
          </tr>
          <tr>
            <th style="width: 20%">Total SKS:</th>
            <td th:text="${user.rencanaStudi.totalSKS}"></td>
          </tr>
        </table>
        <a class="btn btn-primary mb-3" th:href="@{/rencana_studi/{rs_id}/edit(rs_id=${user.rencanaStudi.id})}">Edit Rencana Studi</a>
        <a class="btn btn-outline-success mb-3" onclick="return confirm('Submit Rencana Studi ini? Anda tidak bisa mengubahnya lagi setelah submit!') ? true : false" 
        th:href="@{/rencana_studi/{rs_id}/submit(rs_id=${user.rencanaStudi.id})}">Submit</a>
        <table class="table table-striped table-hover">
          <thead class="table-primary">
            <tr>
              <th>Kode</th>
              <th>Nama Mata Kuliah</th>
              <th>SKS</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr th:each="mk : ${user.rencanaStudi.listMK}">
              <td th:text="${mk.kode}"></td>
              <td th:text="${mk.nama}"></td>
              <td th:text="${mk.sks}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
